<div class="profil-dialog">

    <div class="close-btn-outer">
        <button mat-mini-fab color="warn" (click)="close()" style="float: right; margin-right: -25px; margin-top: -35px"><mat-icon>close</mat-icon></button>
    </div>

    <div class="title">
        <h3>Changer votre mot de passe</h3>
    </div>
    <div class="register-body" style="margin-top: 10px;">
        <form fxLayout="row wrap" (ngSubmit)="onSubmit(modiForm)" [formGroup]="modiForm">
            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <span style="font-size: 1em"><b>Ancien mot de passe</b></span>
                <mat-form-field class="w-100" style="margin-top: 8px;">
                    <input matInput placeholder="Ancien mot de passe" type="password"  formControlName="old_password" ngModel name="old_password">
                    <mat-error *ngIf="modiForm.invalid">Veuillez saisir un message valide</mat-error>
                </mat-form-field>
            </div>

            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <span style="font-size: 1em"><b>Nouveau mot de passe</b></span>
                <mat-form-field class="w-100" style="margin-top: 8px;">
                    <input matInput placeholder="Nouveau mot de passe" type="password"  formControlName="new_password" ngModel name="new_password">
                    <mat-error *ngIf="modiForm.invalid">Veuillez saisir un message valide</mat-error>
                </mat-form-field>
            </div>
            

            <div class="button-wrap mt-5" fxFlex="50" fxFlex.gt-sm="50" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <button class="btn-project" mat-raised-button color="accent" type="submit" style="background-color:#A2D0F2 !important">Changer</button>
            </div>
        </form>
    </div>
</div>


