<div class="my-account sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"  class="p-0">
            <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" >
                <div class="login-wrapper pr-100" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                    <div class="title">
                      <h3>Récupération de mot de passe</h3>
                    </div>
                    <form fxLayout="row wrap" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput [disabled]="loading" placeholder="E-mail" name="email" formControlName="email" required>
                                <mat-error *ngIf="forgetPasswordForm.invalid ">L'addresse mail saisie est incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        <div  *ngIf="signinAlert" fxFlex="100" fxFlex.gt-sm="100" class="px-1 {{ signinAlert.type }}" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <p style="color: tomato; font-size: 12px; margin-bottom: 15px;">{{signinAlert.message}}</p>
                        </div>

                        <p style=" margin-bottom: 20px;" (click)="goToForgetPassword()">Vous recevrez un mail contenant un code à cette adresse email</p>

                        <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <button class="btn-project" mat-raised-button color="accent" type="submit" style="background-color:#A2D0F2 !important">Envoyer</button>
                            </div>
                    </form>
                </div>
          </div>
        </mat-card>
  
    </div>
  </div>
  