
<div class="my-account sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"  class="p-2" style="margin-bottom: 15px;">
            <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" >
                
                <div class="register-wrapper pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
                      <div class="title">
                          <h3>Ajout de produit</h3>
                        </div>
                        <div class="register-body">
                          <form fxLayout="row wrap" (ngSubmit)="onSubmit(form)" #form="ngForm">
                            <p style="color: tomato" *ngIf="isCreated === false"> {{ errorMessage }} </p>
                            <p style="color: green" *ngIf="isCreated === true"> {{ successMessage }} </p>
                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez le nom du produit" #name="ngModel" ngModel name="name" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez la description du produit" #name="ngModel" ngModel name="description" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Entrez la quantité disponible" #name="ngModel" ngModel name="current_stock" required>
                                    <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                                </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez le prix du produit" #name="ngModel" ngModel name="price" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez le minimum du produit à vendre" type="number" #name="ngModel" ngModel name="min" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez le maximun du produit à vendre" type="number" #name="ngModel" ngModel name="max" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <!-- <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez la quantité disponible du produit" #name="ngModel" ngModel name="current_stock" required>
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div> -->

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <mat-form-field class="w-100">
                                  <input matInput placeholder="Entrez le prix en promo du produit" #name="ngModel" ngModel name="stroked_price">
                                  <mat-error *ngIf="name.invalid">Veuillez saisir un message valide</mat-error>
                              </mat-form-field>
                            </div>

                            <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <label for="category" style="opacity: 0.5;">Choississez la catégorie du produit</label>
                              <select #name="ngModel" ngModel name="category" class="form-control" required 
                                id="mySelect"
                                (change)="myFunction()">
                                <option value="{{ cat.id }}" class="form-control"  *ngFor="let cat of categories">{{ cat.name }}</option>
                              </select>
                            </div>

                            <div *ngIf="subcategories != null" fxFlex="100" fxFlex.gt-sm="100" class="px-1 mt-4" ngClass.sm="mt-1" ngClass.xs="mt-1">
                              <label for="child_category" style="opacity: 0.5;">Choississez la sous catégorie du produit</label>
                              <select #name="ngModel" ngModel name="child_category" class="form-control"
                               required
                               >
                                <option value="{{ subcat.id }}" class="form-control"  *ngFor="let subcat of subcategories">{{ subcat.name }}</option>
                              </select>
                            </div>

                              <p style="color: tomato" *ngIf="isCreated === false"> {{ errorMessage }} </p>
                              <p style="color: green" *ngIf="isCreated === true"> {{ successMessage }} </p>
  
                              <p class="mt-3">Vos données personnelles seront utilisées pour soutenir votre expérience sur ce site Web, pour gérer l'accès à votre boutique et à d'autres fins décrites dans notre politique de confidentialité.</p>
                              <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                  <button class="btn-project" mat-raised-button color="accent" type="submit" style="background-color:#A2D0F2 !important">Ajouter</button>
                                </div>
                              </form>
                        </div>
                </div>

                
                
          </div>
        </mat-card>
        <div class="container">
          <div class="cart-wrapper sec-padding">
             <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="tabProduct.length == 0">
                <mat-chip-list>
                   <mat-chip color="warn" selected="true">VOUS N'AVEZ PAS DE PRODUIT.</mat-chip>
                </mat-chip-list>
                <!-- <div style="margin-top: 25px;">
                   <a [routerLink]="['/orhoda/accueil']" class="btn btn mt-20" style="background-color:#A2D0F2 !important; padding: 10px; margin-top: 15px;">Continue shopping</a>
                </div> -->
             </div>
             <p *ngFor="let mess of tMessage" style="color: tomato; text-align: center; margin-bottom: 15px;">{{mess}}</p>
             <mat-card class="p-0">
                <div class="mat-table cart-table">
                   <div class="mat-header-row">
                      <!-- <div class="mat-header-cell">Product</div> -->
                      <div class="mat-header-cell">Name</div>
                      <div class="mat-header-cell">Prix</div>
                      <div class="mat-header-cell">Description</div>
                      <div class="mat-header-cell">Quantité</div>
                      <div class="mat-header-cell">Prix en promo</div>
                      <div class="mat-header-cell">Action</div>
                   </div>
                   <div *ngFor="let item of tabProduct"  class="mat-row">
                      <!-- <div class="mat-cell"><img [src]="item.product.pictures[0].small"></div> -->
                      <div class="mat-cell"><a  class="product-name">{{item.name}}</a></div>
                      <div class="mat-cell price" style="margin-left: 25px;">{{item.price}}</div>
                      <div class="mat-cell price" style="margin-left: 35px;">{{item.description}}</div>
                      <div class="mat-cell price" style="margin-left: 45px;">{{item.current_stock}}</div>
                      <div class="mat-cell price" style="margin-left: 55px;">{{item.stroked_price}}</div>
                      <!-- <div class="mat-cell text-muted">
                         <div fxLayout="row" fxLayout.xs="column"  class="text-muted">
                            <div fxLayout="row" fxLayoutAlign="center start">
                               <button mat-icon-button matTooltip="Remove" (click)="decrement(item.product)">
                                  <mat-icon>remove</mat-icon>
                               </button>
                               <input type="text" name="quantity"   
                               disabled 
                               id="mySelect"
                               class="form-control input-number"
                               (change)="change()">
                               <button mat-icon-button matTooltip="Add" (click)="increment(item.product)">
                                  <mat-icon>add</mat-icon>
                               </button>
                            </div>
                         </div>
                      </div> -->
                      <div class="mat-cell total"></div>
                      <div class="mat-cell text-center">
                         <div class="p-1">
                            <mat-icon (click)="removeItem(item)">close</mat-icon>
                         </div>
                      </div>
                   </div>
                   <!-- <div class="mat-row">
                      <div class="mat-cell"><a  mat-raised-button  class="btn-project" [routerLink]="['/orhoda/accueil']" routerLinkActive="router-link-active"  style="background-color:#A2D0F2 !important">Continue shopping</a></div>
                      <div class="mat-cell"></div>
                      <div class="mat-cell"></div>
                      <div class="mat-cell text-right">
                         <div fxLayout="column" fxLayoutAlign="center end" class="grand-total px-2">
                            <span class="new-price">Grand total: {{getTotal()  | async | currency:productsService?.currency:'symbol'}}</span>
                         </div>
                      </div>
                      <div class="mat-cell text-center"><a mat-raised-button  class="btn-project" (click)="verification()"  routerLinkActive="router-link-active" style="background-color:#A2D0F2 !important; margin-left: 3px;">Proceed To Checkout</a></div>
                   </div> -->
                </div>
                
             </mat-card>
          </div>
          <button class="btn-project" mat-raised-button color="accent" (click)="validation()" style="background-color:#A2D0F2 !important; float: right;">Enrégistrer</button>
        </div>
        
    </div>
    
</div>
