<div class="my-account sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"  class="p-0">
            <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" >
                <div class="login-wrapper pr-100" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                    <div class="title">
                      <h3>Connexion</h3>
                    </div>
                    <form fxLayout="row wrap" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput [disabled]="loading" placeholder="E-mail" name="email" formControlName="email" required>
                                <mat-error *ngIf="signinForm.invalid ">L'addresse mail saisie est incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput [disabled]="loading" placeholder="Mot de passe" type="password" name="password" formControlName="password" required>
                                <mat-error *ngIf="signinForm.invalid">Le mot de passe saisie est incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        <div  *ngIf="signinAlert" fxFlex="100" fxFlex.gt-sm="100" class="px-1 {{ signinAlert.type }}" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <p>{{signinAlert.message}}</p>
                        </div>

                        <p style=" margin-bottom: 20px; cursor: pointer;" (click)="goToForgetPassword()">Mot de passe oublié ?</p>

                        <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <button class="btn-project" mat-raised-button color="accent" type="submit" [disabled]="!signinForm.valid || loading" style="background-color:#A2D0F2 !important">Se connecter</button>
                            <span style="float:right">
                                Vous n'avez pas un compte ?
                            <button class="btn-project" mat-raised-button color="green" (click)="goToSignup()" style="background-color: greenyellow !important" >S'Inscrire</button>
                            </span>
                            </div>
                    </form>
                </div>
          </div>
        </mat-card>
  
    </div>
  </div>
  